#header {
  .header-wrapper {
    max-width: 1254px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;

    .header-content {
      height: 72px;
      display: flex;
      align-items: center;

      .hd-logo {
        position: relative;

        &:before {
          content: "";
          width: 1px;
          height: 32px;
          background: #f3f5f8;
          position: absolute;
          right: -24px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .megamenu {
        margin-left: 24px;
        padding-left: 10px;
        min-width: 221px;

        .list__menu__item {
          display: flex;

          .menu__item {
            display: inline-block;
            padding: 0;
            height: 100%;

            &:nth-child(2) {
              div:hover {
                .menu__megamenu {
                  .content-mega {
                    .menucontent {
                      height: 190px;
                    }
                  }
                }
              }
            }

            &:nth-child(3) {
              div:hover {
                .menu__megamenu {
                  .content-mega {
                    .menucontent {
                      height: 0;
                    }
                  }
                }
              }
            }

            div {
              &:hover {
                .menu__item-text {
                  font-weight: 700;
                  color: #242368;

                  a {
                    &::after {
                      width: 100%;
                    }
                  }
                }

                .menu__megamenu {
                  display: block;

                  .content-mega {
                    .menucontent {
                      height: 680px;
                    }
                  }
                }
              }

              .menu__item-text {
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 400;
                padding: 20px 0;
                cursor: pointer;
                position: relative;
                line-height: 32px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                  position: relative;

                  &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -20px;
                    left: 0;
                    background: #242368;
                    transition: all 0.35s ease;
                  }
                }
              }

              .menu__megamenu {
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                font-size: 16px;
                border-top: 1px solid #e3e7ef;
                z-index: 30;

                .content-mega {
                  .menucontent {
                    border-radius: 0 0 8px 8px;
                    overflow: hidden;
                    background: #e3e7ef;
                    display: flex;
                    flex-wrap: wrap;
                    height: 0;
                    transition: all 0.2s linear;

                    .list-child-links {
                      display: flex;
                      flex-wrap: wrap;
                      flex: 1;

                      .menuchild {
                        flex: 0 0 20%;
                        max-width: 20%;
                        padding: 16px 24px 24px;
                        border-right: 1px solid #f3f5f8;
                        border-bottom: 1px solid #f3f5f8;

                        h2 {
                          font-family: Roboto;
                          font-style: normal;
                          font-weight: 600;
                          font-size: 18px;
                          line-height: 28px;
                          color: #0e0e0e;
                          margin-bottom: 8px;
                        }

                        ul {
                          .item-link {
                            font-family: Roboto;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            padding: 4px 0;
                            color: #0e0e0e;
                            cursor: pointer;
                            margin-bottom: 0;
                          }
                        }
                      }
                    }

                    .help-tuvan {
                      flex: 0 0 16.66666666666%;
                      max-width: 16.66666666666%;
                      padding: 20px 24px 16px;
                      font-size: 14px;
                      font-weight: 400;
                      border-left: 1px solid #f3f5f8;
                      margin-left: -1px;

                      strong {
                        font-size: 18px;
                        line-height: 28px;
                        color: #06c1d4;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .fs-search {
        margin-left: 40px;

        .action-wrap {
          display: block;
          width: 450px;
          position: relative;
          z-index: 11;

          input {
            appearance: none;
            width: 100%;
            border-radius: 48px;
            height: 40px;
            font-size: 14px;
            font-weight: 400;
            padding: 0 60px 0 16px;
            border: 1px solid #e3e7ef;
            background: #fbfbfb;
            outline: 0;

            &:focus,
            &:hover {
              border: 1px solid #06c1d4;
            }
          }

          button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: none;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }

      .fs-hdmn {
        margin-left: auto;
        display: flex;
        align-items: center;

        li {
          position: relative;
          &:hover {
            .wrap-fill {
              display: block;
            }
          }

          &:nth-child(2),
          &:last-child {
            margin-left: 20px;
          }

          a {
            height: 56px;
            width: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100rem;
            transition: all 0.2s linear;

            &:hover {
              background-color: #f3f5f8;
            }

            svg {
              width: 1.75rem;
              height: 1.75rem;
              transition: all 0.2s linear;
            }
          }

          &:last-child {
            &:hover {
              a {
                svg {
                  fill: rgba(39, 190, 206, 1);
                }
              }
            }
          }

          .wrap-fill {
            display: none;
            position: absolute;
            text-align: left;
            top: 50px;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 15px;
            font-size: 16px;
            min-width: 295px;

            &:before {
              width: 13px;
              height: 13px;
              border: 1px solid #e3e7ef;
              border-width: 0 1px 1px 0;
              content: "";
              position: absolute;
              top: 8px;
              left: calc(50% - 6px);
              background: #fff;
              transform: rotate(225deg);
              z-index: -1;
            }

            div,
            ul {
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
              border-radius: 0.5rem;
              overflow: hidden;
              background-color: rgba(255, 255, 255, 1);

              div {
                text-align: center;
                padding: 1.5rem 1.25rem;
                font-weight: 700;
              }

              li {
                padding: 0.75rem 1rem;
                margin: 0;

                .login {
                  display: block;
                  width: auto;
                  height: auto;
                }

                &:hover {
                  background-color: #f3f5f8;
                }
              }
            }
          }

          .wrap-fill-account {
            left: inherit;
            right: 0;
            transform: translateX(0);

            &::before {
              left: inherit;
              right: 22px;
            }
          }
        }
      }
    }
  }
}
